#container .new_perception_task {
    padding-top: 100px;
}
#container .new_perception_task .new_task_menu {
    width: 60%;
    padding: 20px 30px;
    margin: 0 auto 40px;
    border: 1px solid darkgray;
    border-radius: 10px;
}
#container .new_perception_task .new_task_menu .menu_m {
    margin: 15px auto;
    font-size: 10px;
}
#container .new_perception_task .new_task_menu .menu_m .menu_m_s {
    display: inline-block;
    width: 80px;
}
#container .new_perception_task .new_task_menu .menu_m input {
    padding: 5px 8px;
    width: 180px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #6f6f6f;
}
/*#container .new_perception_task .new_task_menu #key-1,*/
/*#container .new_perception_task .new_task_menu #key-2 {*/
    /*width: 250px;*/
/*}*/
#container .new_perception_task .new_task_menu .menu_m .task_time_cor input {
    border-radius: 0;
}
#container .new_perception_task .new_task_menu span {
    color: #919191;
    font-weight: 500;
    font-size: 16px;
}
#container .new_perception_task .new_task_menu .new_build button {
    color: #6b5c5c;
    font-weight: 500;
    font-size: 16px;
    background-color: #eae3e3;
    padding: 5px 10px;
    border-radius: 10px;
}
#container .new_perception_task .new_task_menu .new_build button:hover {
    background-color: #2e90e6;
    color: white;
}
/*任务列表*/
#container .tasks_lists .tasks_lists_every {
    /*width: 60%;*/
    /*padding: 20px 30px;*/
    /*margin: 0 auto 40px;*/
    /*border: 1px solid darkgray;*/
    /*border-radius: 10px;*/
}

