#container {
    padding-top: 140px;
    padding-bottom:50px;
}
#container .res_top {
    width: 100%;
}
#container .macro_big,
#container .micro_small{
    width:80%;
    margin: 20px auto 0;
    text-align: center;
}
#container .macro_big .title-1,
#container .micro_small .title-1 {
    /*width: 60%;*/
    margin: 25px auto;
    color: #0A0A0A;
    font-size: 30px;
    text-align: left;
}
#container .macro_big .big_content,
#container .micro_small .small_content {
    width: 100%;
    /*height: 800px;*/
    border: 1px solid #919191;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 20px 0;
}
/*#container .macro_big .big_content b {*/
    /*color: red;*/
/*}*/

#container .micro_small .small_content .small_line #small_trend {
    width: 100%;
    height: 330px;
}

#container .macro_big .big_content #big_img_weibo,
#container .macro_big .big_content #big_img_person {
    display: inline-block;
    width: 45%;
    height: 350px;
}
#container .macro_big .big_content #big_img_line {
    width: 92%;
    height: 350px;
    margin: 10px auto;
}