body {
    background: url("/static/images/ressss.jpg") no-repeat;
    background-size: 100% 120%;
}
#container {
    width: 70%;
    margin: 0 auto;
}
#container .res_top {
    width: 100%;
    margin: 20px auto;
}
#container .res_top .res_title {
    /*color: white;*/
}
#container .macro_big .big_content,#container .micro_small .small_content {
    width: 100%;
    height: 800px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 20px 0;
}
#container .micro_small .small_content {
    height: 350px;
    text-align: center;
}
#container .macro_big .big_content b {
    color: red;
}
#container .macro_big .big_content #big_img_weibo,#container .macro_big .big_content #big_img_person {
    width: 100%;
    height: 350px;
}
#container .micro_small .small_content .small_left #left,#container .micro_small .small_content .small_right #right {
    float: left;
    width: 45%;
    height: 330px;
}