/*内容样式*/
#container .type-list {
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    font-size: 0;
}
#container .type-list span {
    display: inline-block;
    width: 20%;
    color: #373D41;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #E5E6E6;
    cursor: pointer;
    transition: all linear 0.3s;
}
#container .hot_event .event_list {
    width: 60%;
    padding: 20px 30px;
    margin: 0 auto 20px;
    border: 1px solid darkgray;
    border-radius: 10px;
}
#container .hot_event .event_list .weibo_explain{
    margin: 10px auto;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_left,
#container .hot_event .event_list .weibo_explain .weibo_detail_right{
    display: inline-block;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_right {
    width: 80%;
    float: right;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_right .weibo_words,
#container .hot_event .event_list .weibo_explain .weibo_detail_right .weibo_source{
    color: white;
    font-size: 10px;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_right .weibo_source {
    margin-top: 5px;
}
