/*内容样式*/
#container .hot_event .event_list {
    width: 60%;
    padding: 20px 30px;
    margin: 0 auto 20px;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.61);
}
#container .hot_event .event_list .weibo_explain{
    width: 90%;
    padding: 10px 0;
    margin: 10px auto;
    background-color: white;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_left,
#container .hot_event .event_list .weibo_explain .weibo_detail_right{
    display: inline-block;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_left {
    float: left;
    position: relative;
    top: 10px;
    left: 20px;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_right {
    width: 80%;
    height: auto;
    padding: 10px;
    margin-left: 40px;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_right .weibo_words,
#container .hot_event .event_list .weibo_explain .weibo_detail_right .weibo_source{
    color: black;
    font-size: 15px;
}
#container .hot_event .event_list .weibo_explain .weibo_detail_right .weibo_source {
    margin-top: 15px;
}
