#container {
    padding-top: 100px;
}
#container .build_prediction,#container .prediction_task {
    width: 62%;
    margin: 20px auto;
}
#container .build_prediction .title-1,
#container .prediction_task .title-1 {
    /*width: 60%;*/
    margin: 10px auto;
    color: #919191;
    font-size: 30px;
}
#container .prediction_menu  {
    width: 60%;
    padding: 20px 30px;
    margin: 0 auto 40px;
    border: 1px solid black;
    border-radius: 10px;
}
#container .prediction_menu .menu_m {
    margin: 15px auto;
    font-size: 10px;
}
#container .prediction_menu .menu_m .menu_m_s {
    display: inline-block;
    width: 80px;
}
#container .prediction_menu span {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}
#container .prediction_menu .menu_m input,
#container .prediction_menu .menu_m #inter_time{
    padding: 5px 8px;
    width: 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #6f6f6f;
}
#container .prediction_menu .menu_m #build {
    padding: 5px 15px;
    color: #000;
    background-color: #AFAAAA;
    border-radius: 5px;
    margin-top: 10px;
}
#container .prediction_menu .menu_m #build:hover {
    background-color: #24282B;
    color: #fff;
}



#container .build_prediction .prediction_menu {
    height: auto;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid silver;
    margin-bottom: 40px;
}


