/*清除默认样式*/
html,body,div,img,h1,h2,h3,h4,h5,h6,input,button,span,p,b,strong,em,li,ul,ol,dl,dt,dd,
th,tr,td,textarea,select,table,form {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    font-family: '微软雅黑';
}
ul,li,ol {
    list-style: none;
}
img {
    border:none;
}
input,select,textarea,button {
    outline: none;
    border: none;
}
a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}
/*内容样式*/
#nav {
    width: 100%;
}
#nav .nav_top {
    padding: 20px;
    margin-top: 60px;
    text-align: center;
    color: white;
}
#nav .nav_bottom {
    width: 100%;
    height: 50px;
}
#nav .nav_bottom .list {
    float: right;
    margin-right: 30px;
}
#nav .nav_bottom .list .main_li {
    float: left;
}
#nav .nav_bottom .list .main_li .li_a {
    display: block;
    padding: 10px 20px;
    color: #d1d3d2;
    font-size: 18px;
    font-weight: 900;
}
#nav .nav_bottom .list .main_li .li_a:hover {
    color: #FFEB3B;
}
#nav .nav_bottom .list .setting a {
    display: block;
    padding: 5px;
    color: #000;
    background-color: white;
    font-size: 12px;
    text-align: center;
}
