/*清除默认样式*/
html,body,div,img,h1,h2,h3,h4,h5,h6,input,button,span,p,b,strong,em,li,ul,ol,dl,dt,dd,
th,tr,td,textarea,select,table,form {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    /*font-family: '微软雅黑';*/
    font:  12px/1.14 "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";
}
ul,li,ol {
    list-style: none;
}
img {
    border:none;
}
input,select,textarea,button {
    outline: none;
    border: none;
}
a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}
/*内容样式*/
#nav {
    position: fixed;
    z-index: 2000;
    width: 100%;
    /*height: 70px;*/
    background-color: white;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(41,46,51,0.15);
}
#nav .nav_top {
    width: 40%;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    color: black;
    display: inline-block;
    background: url("/static/images/policy.png") no-repeat;
    background-size:50px 50px ;
}
#nav .nav_top h3 {
    margin-left: 70px;
    font-size: 20px;
}
#nav .nav_bottom {
    width: 45%;
    float: right;
}
#nav .nav_bottom .list {
    /*float: right;*/
    margin-right: 30px;
    margin-top: 10px;
}
#nav .nav_bottom .list .main_li {
    float: left;
    overflow: hidden;
}
#nav .nav_bottom .list .main_li .li_a {
    display: block;
    height: 64px;
    padding: 0 20px;
    line-height: 64px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
#nav .nav_bottom .list .main_li .line {
    position: relative;
    left: -100%;
    top: -2px;
    height: 2px;
    background-color: #2e90e6;
    transition: all linear 0.3s;
}
#nav .setting a {
    display: inline-block;
    padding: 5px;
    color: #000;
    font-size: 12px;
    margin:0 20px;
}
#nav .setting a:hover {
    background-color: #2e90e6;
    color: white;
}
/*
.bootstrap-table {
    margin-left: 15%;
    margin-top: -3%;
}*/


#container .decision_menu .menu_m #build_inf:hover {
    background-color: #337ab7;
    color: #d2dcf7;
}

#container .decision_menu .menu_m #build_inf {
    padding: 5px 15px;
    color: #ffffff;
    background-color: #9b9b9b;
    border-radius: 5px;
    margin-top: 10px;
}
