#container {
    padding-top: 100px;
}
#container .build_decision,#container .prediction_task {
    width: 70%;
    margin: 20px auto;
}
#container .build_decision .title-1,
#container .prediction_task .title-1 {
    /*width: 60%;*/
    margin: 10px auto;
    color: #919191;
    font-size: 30px;
}
#container .decision_menu  {
    /*width: 80%;*/
    padding: 20px 30px;
    margin: 0 auto 40px;
    border: 1px solid darkgray;
    border-radius: 10px;
}
#container .decision_menu .menu_m {
    margin: 15px auto;
    font-size: 10px;
}
#container .decision_menu .menu_m .menu_m_s {
    display: inline-block;
    width: 150px;
}
#container .decision_menu span {
    color: #919191;
    font-weight: 800;
    font-size: 16px;
}
#container .decision_menu .menu_m input,
#container .decision_menu .menu_m #inter_time{
    padding: 5px 8px;
    width: 180px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #6f6f6f;
}
#container .decision_menu .menu_m #build {
    padding: 5px 15px;
    color: #ffffff;
    background-color: #9b9b9b;
    border-radius: 5px;
    margin-top: 10px;
}
#container .decision_menu .menu_m #build:hover {
    background-color: #337ab7;
    color: #d2dcf7;
}

#container .decision_menu .prediction_menu {
    height: 400px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid silver;
    margin-bottom: 10px;
}
